---
import EditorShell from './EditorShell.svelte';
import type { AdminEssayEditorValues } from '../../../lib/admin-console/content-shared';

type Props = {
  endpoint: string;
  exportEndpoint: string;
  deleteEndpoint: string;
  previewEndpoint: string;
  imageUploadEndpoint: string;
  returnHref: string;
  collection: 'essay';
  entryId: string;
  relativePath: string;
  defaultPublicSlug: string;
  revision: string;
  initialFrontmatter: AdminEssayEditorValues;
  initialBody: string;
  initialArticleInfoOpen?: boolean;
};

const props = Astro.props;
---

<div data-admin-essay-editor-island>
  <EditorShell client:only="svelte" {...props} />
</div>
